@import "~materialize-css/dist/css/materialize.min.css";

input.auth-input {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

input.auth-input + label {
    color: #000 !important;
}

input.auth-input:focus {
    border-bottom: 1px solid#d50000 !important;
    box-shadow: 0 1px 0 0#d50000 !important;
}

input.auth-input:focus + label {
    color:#d50000 !important;
}